**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
env
venv
.git
.gitignore
.dockerignore
Dockerfile
README.md
LICENSE
docs
tests
*.log
*.csv
*.dat
*.out
*.pid
*.seed
*.db
*.sql
*.sqlite
node_modules
